@import 'reset.css';
@import "../fonts/fonts.css";
@import "global";
@import 'header';
@import 'hero';

.offer {
    background: $shade-light-background;
    height: auto;
    
    margin-bottom: 182px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .offer-title {
        margin-top: 46px;
        margin-bottom: 73px;
        @include headings-h2
    }
    .offer__slider {
        height: 442px;
        width: 100%;
        position: relative;            
            .offer__swiper-slider {
                .offer__block {

                
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    border-radius: 7px;
                    padding: 36px 16px;
                    width: 333px;
                    height: 287px;
                    background: #FAFAFA;
                    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
                    .offer__img {
                        
                        width: 58px;
                        height: 58px;
                        background: url('../images/hero-phone.svg');
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                    }
                    .offer__b-title {
                        @include headings-h4;
                    }
                    .offer__b-span {
                        @include default;
                        max-width: 301px;
                    }
                
                }
        }
    }
    .offer-swiper-pagination {
    }
    .offer-swiper-button-prev {
    }
    .offer-swiper-button-next {
    }
    .offer-swiper-scrollbar {
    }
}

